@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --p-breadcrumb-padding: 0 !important;
  --p-breadcrumb-background: transparent !important;
}

body {
  background-color: #f3f3fa;
  font-family: "Rubik", sans-serif;
}

.dark body {
  background-color: #0f172a;
}

label {
  @apply block text-sm/6 font-medium text-gray-900 dark:text-gray-100;
}

/* .rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
